html, body {
  margin: 0;
  padding: 0;
  background-color: #BFBBAE;
  text-align: center;
  color: #000;
}

h1 {
  font-family: 'Abhaya Libre', serif;
  margin-top: 5%;
}

.quoteBox {
  font-family: 'Abel', sans-serif;
  width: 80%;
  margin: 50px auto;
  padding: 25px;  
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  background-color: #fff;
}

.quoteMarks {
  margin-top: -25px;
}

/*.theQuote {
  text-align: left;
}*/

.theAuthor {
  font-style: italic;
  font-size: 18px;
  padding-top: 15px;
}

.quoteBtn {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  border: 1px solid #BFBBAE;
  color: #fff;
  background-color: #BFBBAE;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.quoteBtn:hover {
    background-color: #fff;
    color: #BFBBAE;
    border-color: #BFBBAE;
}

.credits {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    margin-bottom: 5%;
}

.credits a {
  color: #fff;
  text-decoration: underline;
}

.credits a:hover {
  color: #00658F;
}